asgiref==3.8.1
beautifulsoup4==4.12.3
certifi==2024.12.14
charset-normalizer==3.4.1
crispy-bootstrap5
Django
django-bootstrap-v5
django-crispy-forms==2.3
django-js-asset==3.0.1
django-resized==1.0.3
idna==3.10
pillow==11.1.0
platformshconfig==2.4.0
python-decouple==3.8
requests==2.32.3
soupsieve==2.6
sqlparse==0.5.3
tzdata==2025.1
urllib3==2.3.0
