{% extends 'cms_app/content.html' %}
{% block content %}

<div class="text-start">
        <h2>Welcome to Read Write & Share!</h2>
        <br>
        <h5>
            <li>This application will allow users to create any topic and detailed description or information regarding the created topic to help
                you organize and enhance your learning journey and also providing you a platform to inspire others. Everyone can view your topic, read the content of the topic
                 and write their comment on the content that you have created.
            </li>
            <br>
            <li>You can enjoy checking all the public topics and reading the content of the topics without registering yourself. However for modifying the topic and 
                the content of the topic and to write comments you would need to register yourself and logged in.</li>
            <br>
            <li>Public Topics section will show all the topics created by all the users of this application. You can also be able to check the topics that you have 
            created in Your Topic section at the top however that option is visible only for the logged in users.</li>
            <br>
            <li>Only owner of the topic can create the content for that particular topic and also get the option to update and delete their topic and the content of the topic. 
            User can update their profile and also reset their password through password reset option.</li> 
            <br>
            <li>There is no restrictions to create the topics and the content you would like to create and share. However, it is recommended to create topics 
            that users can find interesting to read or inspiring, motivating, or use it for education or learning purposes.</li>
        </h5>
</div>




{% endblock content %}